<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?v=1.112">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<!-- website header -->
<div class="header">
    <div class="logo" style="float: left;">
        {#        <a href="/"><img border="0" src="/static/images/logo.jpg" alt="logo" width="100"></a>#}
        <!--                <a href="/"> logo </a>-->
    </div>
    {% block head %} {% endblock head %}
    <br>
    <br>
</div>
<hr/>
<!-- website contents -->
<div class="contents">
    {% block contents %}

    {% endblock contents %}
</div>

</body>

</html>