<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASD Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{#          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}

</head>
<body>
<h1 style="position: center">This is the title</h1>
<div id="root">Loading...</div>
<script type="module" src="{{ url_for("static", filename="js/bundle.js") }}"></script>
</body>
</html>