<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASD Website</title>
    <link href="{{ url_for('static', filename='css/http_gitcdn.github.io_bootstrap-toggle_2.2.2_css_bootstrap-toggle.css') }}"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {#          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}

</head>
<body>
<div id="root">Loading...</div>
<script type="module" src="{{ url_for("static", filename="js/main.bundle.js") }}"></script>
</body>
</html>