{% extends "base2.html" %}

{% block title %} Login {% endblock title %}
{% block head %}
    <div class="right up" style="float:right">
        Reset Password
    </div>
{% endblock head %}

{% block contents %}
    <!-- DO NOT CHANGE THIS (aside from styling) -->
    <form action="/accounts/reset_email/?target=%2Faccounts%2Freset_password" method="post" enctype="multipart/form-data">
        <br>Email
        <br>
        <input type="text" name="username" required/>
        <br>
        <input type="submit" value="Send Email"/>
        <input type="hidden" name="operation" value="reset"/>
    </form>
{% endblock contents %}